@tailwind base;
@tailwind components;
@tailwind utilities;

.side-nav-enter {
    transform: translateX(100%);
}

.side-nav-enter-active {
    transform: translateX(0);
    transition: transform 300ms ease-in-out;
}

.side-nav-exit {
    transform: translateX(0);
}

.side-nav-exit-active {
    transform: translateX(100%);
    transition: transform 300ms ease-in-out;
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 0.4;
    transition: opacity 300ms ease-in-out;
}

.fade-exit {
    opacity: 0.4;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

button {
    @apply bg-primary hover:bg-fourth hover:text-primary text-fourth border-2 border-primary rounded-full px-4 py-1 transition-all;
}


button.light {
    @apply text-primary bg-fourth border-primary hover:bg-primary hover:text-fourth;
}

.hover-max-width-height-anim::before {
    transition-property: max-width, max-height;
    transition-duration: 300ms;
    transtition-timing-function: linear;
}
